<!DOCTYPE html>
<html>

<head>
  <title>The Importance of Saving - A Compound Interest Calculator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <script>document.documentElement.className = 'js';</script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div class="site" id="tios">
    <nav class="navbar container">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <h1>The Importance of Saving</h1>
        </a>

        <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
          <span class="icon" style="color: #333;">
            <i class="fa fa-github"></i>
          </span>
        </a>

        <div class="navbar-burger burger" data-target="navMenubd-example">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </nav>

    <div class="content container">

      <div class="columns">
        <div id="d3" class="column is-three-quarters">
          <svg id="area" />
        </div>
        <div class="column is-centered">
          <h2>A look at savings</h2>
          <p v-if="additions">This is what 30 years of savings with <strong>{{ additions }}$ a month</strong> at <strong>{{ interest }}% per year</strong> looks like: <strong>${{ totalValue }}</strong>. Compound interest is the major factor when you invest in the long term: as you continue to invest, the interest you've made in previous years keeps gaining interest, in addition to your monthly deposits</p>
          <p v-else="additions">Whoa, looks like your data entered isn't right...</p>
          <a class="button is-primary">
            Ok
          </a>
        </div>
      </div>

      <div class="columns">
        <div class="column is-half">
          <h3>Scenario #1</h3>

          <div class="columns">
            <div class="column is-half">
              <div class="field">
                <label class="label">Starting Amount</label>
                <div class="control">
                  <input v-model="principal" class="input" type="text" value="$10,000" placeholder="Text input">
                </div>
              </div>
              <div class="field">
                <label class="label">Regular Saving Addition</label>
                <div class="control">
                  <input v-model="additions" class="input" type="text" value="$400" placeholder="Text input">
                </div>
              </div>
              <div class="field">
                <label class="label">Saving Addition Frequency</label>
                <div class="control">
                  <div class="select">
                    <select>
                      <option>Weekly</option>
                      <option>Bi-Weekly</option>
                      <option>Monthly</option>
                      <option>Bi-Monthly</option>
                      <option>Quarterly</option>
                      <option>Bi-Quarterly</option>
                      <option>Yearly</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-half">
              <div class="field">
                <label class="label">Interest Rate</label>
                <div class="control">
                  <input v-model="interest" class="input" type="text" value="4%" placeholder="Text input">
                </div>
              </div>
              <div class="field">
                <label class="label">Year-Over-Year Deposit Increase?</label>
                <div class="control">
                  <input class="input" type="text" value="$400" placeholder="Text input">
                </div>
              </div>
              <div class="field">
                <label class="label">Compounded?</label>
                <div class="control">
                  <div class="select">
                    <select>
                      <option>Monthly</option>
                      <option>Bi-Monthly</option>
                      <option>Quarterly</option>
                      <option>Bi-Quarterly</option>
                      <option>Yearly</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="column"></div>
        <div class="column"></div>
      </div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="scripts/app.js"></script>

</body>
