<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="profile" href="http://gmpg.org/xfn/11">
<script>document.documentElement.className = 'js';</script>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div class="site" id="tios">
    <nav class="navbar container">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <h1>The Importance of Saving</h1>
        </a>

        <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
          <span class="icon" style="color: #333;">
            <i class="fa fa-github"></i>
          </span>
        </a>

        <div class="navbar-burger burger" data-target="navMenubd-example">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </nav>

    <div class="content container">

      <div class="columns">
        <div class="column is-three-quarters">
          <img src="images/graph.png" />
        </div>
        <div class="column is-centered">
          <h2>A look at savings</h2>
          <p v-if="apm">This is what 30 years of savings with {{ apm }}$ a month at {{ apr }}% per year looks like. Compound interest is the major factor when you invest in the long term: as you continue to invest, the interest you've made in previous years keeps gaining interest, in addition to your monthly deposits</p>
          <p v-else="apm">Whoa, looks like your data entered isn't right...</p>
          <a class="button is-primary">
            Ok
          </a>
        </div>
      </div>

      <div class="columns">
        <div class="column is-half">
          <h3>Scenario #1</h3>

          <div class="columns">
            <div class="column is-half">
              <div class="field">
                <label class="label">Starting Amount</label>
                <div class="control">
                  <input class="input" type="text" value="$10,000" placeholder="Text input">
                </div>
              </div>
              <div class="field">
                <label class="label">Regular Saving Addition</label>
                <div class="control">
                  <input v-model="apm" class="input" type="text" value="$400" placeholder="Text input">
                </div>
              </div>
              <div class="field">
                <label class="label">Saving Addition Frequency</label>
                <div class="control">
                  <div class="select">
                    <select>
                      <option>Weekly</option>
                      <option>Bi-Weekly</option>
                      <option>Monthly</option>
                      <option>Bi-Monthly</option>
                      <option>Quarterly</option>
                      <option>Bi-Quarterly</option>
                      <option>Yearly</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-half">
              <div class="field">
                <label class="label">Interest Rate</label>
                <div class="control">
                  <input v-model="apr" class="input" type="text" value="4%" placeholder="Text input">
                </div>
              </div>
              <div class="field">
                <label class="label">Year-Over-Year Deposit Increase?</label>
                <div class="control">
                  <input class="input" type="text" value="$400" placeholder="Text input">
                </div>
              </div>
              <div class="field">
                <label class="label">Compounded?</label>
                <div class="control">
                  <div class="select">
                    <select>
                      <option>Monthly</option>
                      <option>Bi-Monthly</option>
                      <option>Quarterly</option>
                      <option>Bi-Quarterly</option>
                      <option>Yearly</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="column"></div>
        <div class="column"></div>
      </div>

    </div>
  </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="scripts/app.js"></script>

</body>
